# Next.js specific
/.next/
/out/
/build/
*.pem

# Dependencies
/node_modules/
/.pnp
.pnp.js

# Testing
/coverage/

# Production
/dist/
/prod/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production
.env.*.local

# IDE & Editor directories
.vscode/
.idea/
*.suo
*.sln
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Temp directories
.temp/
.tmp/
tmp/
temp/

# Vercel
.vercel/

# Misc
.cache/
*.bak
*.swp
